@model Clase3.Entidades.Automovil

<h2>Agregar Automóvil</h2>
<form asp-action="Crear" method="post">
    <label>Marca:</label>
    <input asp-for="Marca" />
    <br />
    <label>Modelo:</label>
    <input asp-for="Modelo" />
    <br />
    <label>Foto (URL):</label>
    <input asp-for="Foto" />
    <br />
    <button type="submit">Guardar</button>
</form>