@model Clase3.MVC.Entidades.Regalo
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>

</form>