@model List<Clase3.MVC.Entidades.Regalo>
@{
}

<h1>Lista de Regalos</h1>


<Table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var regalo in Model)
        {
            <tr>
                <td>@regalo.Descripcion</td>
                <td>@regalo.Precio</td>
                <td><img src="@regalo.Imagen" alt="Imagen de @regalo.Descripcion" style="width: 100px; height: 100px;" /></td>
            </tr>
        }
    </tbody>
</Table>